<!DOCTYPE html>
<html>

<head>
    <title>Grey Box Website</title>
    <style>
        body {
            background-color: #f5f5f5;
        }

        .container {
            width: 50%;
            height: 300px;
            margin: 27vh auto;
            background-color: #d3d3d3;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .text {
            text-align: center;
            font-size: 24px;
            color: #333;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div class "content">
        <div class="container">
            <div class="text">
                <p>
                    <%=textchange%>
                </p>
            </div>
        </div>
    </div>
</body>

</html>